{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}
<div class="navbar">
    <img src="assets/img/logo-v2.png"/>
    <div class="content">
        <div class= "input-icons">
            <i class="fa fa-search icon"></i>
            <input class="input-field " type="search" placeholder="Search">
        </div>
        <i class="fa fa-bars"></i>
    </div>
</div>
{% endblock %}


{# nu de block content op in de main pagina vullen #}
{% block content %}

{# Loop #}
    <ul class="menu">
    {% for recipe in data %}
        <li class="col-md-6 card">
            {# IMAGE #}
            <img src=" {{ recipe.picFood }} ">
            
            {# TITLE & RATING #}
            <div class="seperate">
                <h4> {{ recipe.title }} </h4>
                <i data-star="{{ recipe.rating }}"></i>
            </div>

            {# DESCRIPTION #}
            
            <p class="description"> {{ recipe.description }} </p>

            {# BUTTON, PEOPLE, PRICE, CALORIES #}

            <div class="seperate">
                <button class="button" type="submit"> ADD </button>
                <div class="details">
                    <i class="fa fa-user-friends"> {{ recipe.people }} </i>
                    <i class="fa fa-euro-sign"> {{ recipe.price }} </i>
                    <i class="fa fa-fire"> {{ recipe.calories }} </i>
                </div>
            </div>
            
        </li>
    {% endfor %}
    <ul>
     {# Dump #}
     {# <pre>
        {{ dump(data) }}
       </pre> 
       #}

{% endblock %}
